.status {
    padding: 2px;
    border-radius: 5px;
    font-size: 10px;
}

.status.done {
    background-color: green;
    color: white;
}

.status.in-progress {
    background-color: orange;
    color: black;
}

.status.not-started {
    background: red;
    color: white;
}