<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align">
        TASK
        <span class="status">
            STATUS
        </span>
    </li>

    <li class="list-group-item d-flex justify-content-between align">
        TASK
        <span class="status">
            STATUS
        </span>
    </li>

    <li class="list-group-item d-flex justify-content-between align">
        TASK
        <span class="status">
            STATUS
        </span>
    </li>
</ul>